.gp-button {
  width: 100px;
  padding: 8px 18px;
  display: inline-block;
  background-color: var(--gp-bg-color-primary);
  font-size: 1rem;
  color: var(--gp-font-color-senary);
  cursor: pointer;
  border-radius: 4px;
}
