.gp-card-container {
  padding: 43px 35px;
  background-color: var(--gp-bg-color-quaternary);
  display: flex;
  border-radius: 8px;
}

.gp-card-container img {
  width: 247px;
}

.gp-card-container-data {
  width: 100%;
  background-color: var(--gp-bg-color-secondary);
  border: 1px solid var(--gp-border-color-primary);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px;
}

.gp-card-container-data h3 {
    color: var( --gp-font-color-tertiary);
    font-size: 20px;
}

.gp-card-list {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.gp-card-item {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gp-border-color-primary);
  border-radius: 4px; /* space between spans */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1rem 0.5rem;
  color: #737373;
  font-size: 1rem;
}
