@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gp-bg-color-primary: #1890ff;
  --gp-bg-color-secondary: #ffffff;
  --gp-bg-color-tertiary: #e6f7ff;
  --gp-bg-color-quaternary: #f5f5f5;

  --gp-font-color-primary: #000000;
  --gp-font-color-secondary: #7e7e7e;
  --gp-font-color-tertiary: #1890ff;
  --gp-font-color-quaternary: #bfbfbf;
  --gp-font-color-quinary: #5c5858;
  --gp-font-color-senary: #fff;
  --gp-font-color-septenary: #262626;

  --gp-border-color-primary: #d9d9d9;

  --gp-font-bold: 700;
  --gp-font-semi-bold: 500;
}

a,
a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

h1 {
  font-size: 1.5rem;
  color: var(--gp-font-color-senary);
}

h2 {
  font-size: 3rem;
  color: var(--gp-font-color-primary);
}


.gp-container {
  width: 100%;
  max-width: 1251px;
  margin: 0 auto;
}

.gp-mb27 {
  margin-bottom: 27px;
}

.gp-mb54 {
  margin-bottom: 54px;
}

.gp-mr30 {
  margin-right: 30px;
}

.gp-pb12 {
  padding-bottom: 12px;
}

.gp-pt12 {
  padding-top: 12px;
}

.gp-button {
  width: 100px;
  padding: 8px 18px;
  display: inline-block;
  background-color: var(--gp-bg-color-primary);
  font-size: 1rem;
  color: var(--gp-font-color-senary);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.gp-fntBold {
  font-weight: var(--gp-font-bold);
}
